<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <style>
        * {
            vertical-align: top;
            /* margin: 0; */
            box-sizing:border-box;
            /* margin-top: 0; */
            /* padding: 0; */
        }
        h1{
           color: red;
        }
    </style>
</head>

<body >
    <h1> {{text}}</h1>
    <img src="{{ url_for('static', filename='sad2.png') }}" alt="Apologies for the inconvenience">
    <!-- <img src="{{ url_for('static', filename='sad.png') }}" alt="Apologies for the inconvenience"> -->
    <script>
        
    </script>
</body>

</html>