<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_error.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>Error</title>
    
</head>

<body >
    <div>
        <!-- <span class='error-num'>5</span> -->
        <div class='eye'></div>
        <div class='eye'></div>
        <span class='error-num'>PS</span>
        <p class='sub-text'>{{text}}</p>
        <a href='{{ url_for('display') }}'>Go back</a>
      </div>
    
    <script>
        $('body').mousemove(function(event) {
  var e = $('.eye');
  var x = (e.offset().left) + (e.width() / 2);
  var y = (e.offset().top) + (e.height() / 2);
  var rad = Math.atan2(event.pageX - x, event.pageY - y);
  var rot = (rad * (180 / Math.PI) * -1) + 180;
  e.css({
    '-webkit-transform': 'rotate(' + rot + 'deg)',
    'transform': 'rotate(' + rot + 'deg)'
  });
});

    </script> 
</body>

</html>