<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Github Repo and Fork Getter</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style_main.css') }}">
</head>

<body>
    <!-- <header class="bg-dark text-white text-center py-5">
        <h1 class="red">Github Repo and Fork Getter</h1>
    </header> -->

    <div class="container mt-5">
        <!-- <h2 class="blue text-center">A web app to extract top repositories of a given organization from GitHub and find oldest forks among them.</h2> -->
        <div class="bg-warning py-4">
            <!-- <h3 class="text-right mb-4"><i> A web app by Ayushmaan Pandey</i></h3> -->
            <!-- <hr class="mb-4"> -->
            <form method="POST" action="/result">
                <h1 class="red">Github Repo and Fork Getter</h1>
                <h3 class="blue text-center">A web app to extract top 'n' repositories of a given organization from GitHub and find the 'm' oldest forks among them.</h3>
                <div class="form-group">
                    <label for="org_name">Organization Name:</label>
                    <input class="form-control" type="text" id="org_name" name="org_name" required>
                </div>
                <div class="form-group">
                    <label for="n">Number of Repositories (n):</label>
                    <input class="form-control" type="text" id="n" name="n" required>
                </div>
                <div class="form-group">
                    <label for="m">Number of Forks (m):</label>
                    <input class="form-control" type="text" id="m" name="m" required>
                </div>
                <button type="submit" class="btn btn-danger btn-block">Submit and Proceed →</button>
            </form>
        </div>
    </div>

    <!-- Bootstrap JavaScript libraries (jQuery and Popper.js) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        // Your custom JavaScript here
        // ...
    </script>
</body>

</html>
